/* utility class */
 /* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.containernoboot {
  width: 1170px;
  margin: 0 auto;
}


.flnoboot {
  float:left;
}

.frnoboot {
  float:right;
}

.clearfixnoboot::after {
  content: "";
  clear: both;
  display: table;
} */
/* fine utiliy class */

/* inizio nav */
.navcont{
  background-color: #fff;
  height: 60px;
  color: #031C4E;
  font-weight: bold;
}

.navbar{
  height: 60px;
}

.logo{
  height: 40px;
  width: auto;
}

.navbar li{
  display: inline-block;
  margin-right: 15px;
}

.navbar > ul{
  height: 60px;
  line-height: 60px;
  vertical-align: middle;
}

.iconnav{
  color: #3A8AFF;
  font-size: 20px;
  vertical-align: middle;
  height: 60px;
  line-height: 60px;
}

#btnnav{
  border: 1px solid #3889FF;
  color: #3889FF;
}
/* fine nav */

/* jumbotron inizio */
.jumboback{
  height: 100%;
  background-image: url("https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg");
  background-size: cover;
  padding: 50px 0px;
}

.txtcont{
  height: 100%;
  border: 2px solid red;
}

.contconttxt{
  color: white;
  border: 2px solid black;
  /* margin-top: 20px; */
}

.contconttxt > h1{
  font-size: 60px;
  font-weight: bolder;
}

.contconttxt > p{
  color: #8BA9FF;
  font-size: 18px;
  font-weight: bolder;
}

.formcont{
  height:  100%;
  border: 2px solid red;
}

/* form inizio */
.jumboform{
  border-radius: 10px;
  background-color: #fff;
  border: 2px solid black;
}

.formtitle{
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
  color: #031C4E;
}

.sectit{
  color: #3C8BFF;
}

[class*="butt-"] {
  width: 80%;
  margin: 0 10%;
}

.butt-text{
  border: 1px solid #F2F2F2;
  border-radius: 5px;
  margin-bottom: 10px;
}

.firstbutt{
  border: 1px #579AFF solid;
  background-color: #579AFF;
  border-radius: 5px;
  margin-bottom: 10px;
  color: #fff;
}

.secondbutt{
  border: 1px #fff solid;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
  color: #626262;
  box-shadow: 3px 3px 3px grey;
}


/* form fine */
/* fine jumbotron */

/* inizio section griglia logo */
.logogrillcont{
  background-color: #F3F5F9;
  height:100%;
}

.titlelogo{
  margin-bottom: 20px;
  color: #6F7B97;
}

.logolink{
  margin-top: 120px;
}

[class*="logo-"] {
  height: 77px;
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: center
}

.logo-one{
  background-image: url(../images/docker.svg);
}

.logo-two{
  background-image: url(../images/slack.svg);
}

.logo-three{
  background-image: url(../images/wework.svg);
}

.logo-four{
  background-image: url(../images/gitlab.svg);
}

.logo-five{
  background-image: url(../images/splunk.svg);
}

.logo-six{
  background-image: url(../images/hashicorp.svg);
}
/* fine section griglia logo */

/* inizio sezione spec */
.specscont{
  height: 100%;
  background-color: #fff;
}

[class*="spectitcol-"]{
  color: #031C4E;
}

.spectitcol-one{
  margin-top: 60px;
}

[class*="ptitle"]{
  color: #5C6A88;
}

.specmenucont{
  height: auto;
}

.listspeccont{
  border-left: 2px solid grey;
}

.speclistul{
  list-style-type:none;
  padding-left: 10px;
  padding-top: 20px;
  color: #5C6A88;
  height: auto;
}

.speclili{
  margin-bottom: 20px;
  margin-right: 30px;
  font-size: 25px;
}


.specimg{
height:250px;
}

/* fine sezione spec */
/* dev sec inizio */
.desfordevcont{
  height: 800px;
  background-color: #F3F5F9;
  text-align: center;
}

.devtit{
  color: #031C4E;
  font-weight: bolder;
  font-size: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.pdev{
  color: #586686;
  font-size: 20px;
  margin-bottom: 50px;

}

.fontaweicon1{
  font-size: 100px;
  color: #586686;
}

.fontaweicon2{
  font-size: 100px;
  color: #031C4E;
}

.imgfordev{
  height: auto;
  width: 60%;
  margin-bottom: 25px;
}

.bluedot{
  border-radius: 100%;
  width: 20px;
  height: 20px;
  border: 1px solid #0069ff;
  display:inline-block;
  /* non si centra perfettamente why? */
}

.bluedot:hover{
  background-color: #0069ff;
}

.carouseltext{
  color: #031C4E;
  font-size: 20px;
  margin-bottom: 10px;
}
/* fine dev sec */

/* inizio feat */
.featcont{
  background-color: #fff;
  height:100%;
  padding-bottom: 30px;
}

.featblock{
  height:100%;
}

[class*="feattitle-"]{
  color: #031C4E;
  font-weight: bolder;
}

.pfeat{
  color: #8F99AD;
  font-weight: bold;
}

.featlink{
  color: #006AFF;
  font-weight: bolder;
}
/* fine feat */

/* inizio region */
.regioncont{
  background: linear-gradient(#0046C4, #001E9A);
  height: 100%;
  color: white;
  padding-bottom:30px;
}

.regiontit{
font-weight: bolder;
font-size: 35px;
}

.regionul{
  width: 100%;
  height: 60px;
  line-height: 60px;
  vertical-align: middle;
  padding: 0;
}

[class*="regionli-"]{
  display: inline-block;
}

.regionli-one{
  float: left;
  font-weight: bolder;
}

.regionli-two{
  margin-left: 80px;
  font-weight: bolder;
  color: #B3C3E7;
}

.regionli-three{
  float: right;
  color: #00D7D2;
  font-weight: bolder;
}

.regionlink{
  height:100%;
}

.citycont{
  height:60px;
  border-bottom: #fff 2px solid;
}
/* fine region */

/* inizio dev team love alcune class comuni con designed for dev */
.lovecont{
  height: 100%;
  background-color: #F3F5F9;
  padding-bottom: 10px;
}

.lovetit{
  color: #031C4E;
  margin-top: 60px;
}

.imgfordev2{
  background-color: #fff;
  height: 100%;
  margin-top: 50px;
  text-align: center;
  font-size: 20px;
}

.tcent{
  text-align: center;
  margin-top: 10px;
}

.margicon{
  margin-top: 200px;
}

.rocklogo{
  margin-top: 100px;
  margin-bottom: 25px;
}

.plove{
  color:#8E98AC;
  font-weight: bolder;
  margin-bottom: 25px;
}

.ceo{
  color: #8E98AC;
  font-weight: bolder;
}

.whoisit{
  color: #8E98AC;
  margin-bottom: 25px;
}

.logolink{
  color: #046FFF;
  font-weight: bolder;
}
/* fine dev team love alcune class comuni con designed for dev */

/* inizio footer */
.footup{
  background: linear-gradient(#0046C4, #001E9A);
  height:100%;
  text-align: center;
  padding-bottom: 50px;
}

.buttonfoot {
  background-color: #fff;
  border: none;
  color: #006AFF;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.footuptit{
  color:#fff;
  font-weight: bolder;
  margin-top: 50px;
}


.footdown{
  background-color: #031C4E;
  height:100%;
  padding-top: 100px;
  padding-bottom: 100px;
}

[class*="footblock-"] {
  height:100%;
}
.copyright{
  color: #737F99;
  font-weight: bolder;
  font-size: 18px;
}

.madein{
  color: #4A5A7C;
  font-weight: bolder;
  font-size: 18px;
}

.footicon{
  color: #737F99;
  margin-right: 10px;
  font-size: 30px;
}

.footlist{
  list-style: none;
  color: #A6ADBD;
  font-size: 18px;
  padding: 0;
}

.important{
  color: #fff;
  font-weight: bolder;
  margin-bottom: 15px;
}

.normal{
  margin-bottom: 15px;
}

.fishcont{
  height: 100%;
}

.shark{
  position: fixed;
  bottom: 20px;
  right: 0;
}

.comic{
  width:450px;
  height:69px;
  background-color: #fff;
  display: inline-block;
  line-height: 69px;
  vertical-align: middle;
  position: fixed;
  bottom: 20px;
  right: 90px;
  text-align: center;
  border-radius: 5px;
}

.comic:after {
  content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-left-color: #fff;
	border-right: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-right: -20px;
}

.comictext{
    color: #1E3460;
    font-weight: bolder;
  }

/* fine footer */

/* media query */

@media screen and (max-width: 767px){
  /* jumbotron */
  .txtcont{
    height:auto;
  }

  .jumboform{
    margin-top: 0;
  }

  .contconttxt{
    margin-top: 0;
  }

  .formcont{
    height: auto;
    margin-top: 15px;
  }

/* end jumbotron */

/* footer */
.footdown{
  padding-top: 20px;
  padding-bottom: 20px;
}

.footblock-two,.footblock-three,.footblock-four,.footblock-five{
  padding-top: 30px;
}

.shark{
  position: fixed;
  bottom: 125px;
  left: 53px;
}

.comic{
  position: fixed;
  bottom: 25px;
  left: 53px;
}
/* end footer */



}

@media screen and (min-width: 768px) and (max-width: 991px){
  /* footer */
  .footblock-two,.footblock-three,.footblock-five{
    padding-top: 30px;
  }

  .shark{
    position: fixed;
    bottom: 220px;
    left: 130px;
  }

  .comic{
    position: fixed;
    bottom: 120px;
    left: 130px;
  }
  /* footer fine */

}

@media screen and (min-width: 992px) and (max-width: 1199px){
  .navbar li{
    margin-right: 0px;
  }

}
