/* utility class */
 /* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.containernoboot {
  width: 1170px;
  margin: 0 auto;
}


.flnoboot {
  float:left;
}

.frnoboot {
  float:right;
}

.clearfixnoboot::after {
  content: "";
  clear: both;
  display: table;
} */
/* fine utiliy class */

/* inizio nav */
.navcont{
  background-color: #fff;
  height: 60px;
  color: #031C4E;
  font-weight: bold;
}

.navbar{
  height: 60px;
}
.logo{
  height: 20px;
  width: auto;
}
.navbar li{
  display: inline-block;
  margin-right: 15px;
}

.navbar > ul{
  height: 60px;
  line-height: 60px;
  vertical-align: middle;
}

#btnnav{
  border: 1px solid #3889FF;
  color: #3889FF;
}
/* fine nav */

/* jumbotron inizio */
.jumboback{
  height: 100%;
  background-image: url("https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg");
  background-size: cover;
}

.txtcont{
  height: 450px;
  margin-top: 50px;
}

.contconttxt{
  color: white;
  margin-top: 80px;
}

.contconttxt > h1{
  font-size: 50px;
}

.contconttxt > p{
  color: #BBCCFF;
}

.formcont{
  height: 450px;
  margin-top: 50px;
}

/* form inizio */
.jumboform{
  border-radius: 10px;
  background-color: #fff;
  margin-top: 80px;
}

.formtitle{
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
  color: #031C4E;
}

.sectit{
  color: #3C8BFF;
}

[class*="butt-"] {
  width: 80%;
  margin: 0 10%;
}

.butt-text{
  border: 1px solid #F2F2F2;
  border-radius: 5px;
  margin-bottom: 10px;
}

.firstbutt{
  border: 1px #579AFF solid;
  background-color: #579AFF;
  border-radius: 5px;
  margin-bottom: 10px;
  color: #fff;
}

.secondbutt{
  border: 1px #fff solid;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
  color: #626262;
  box-shadow: 3px 3px 3px grey;
}


/* form fine */
/* fine jumbotron */

/* inizio section griglia logo */
.logogrillcont{
  background-color: #F3F5F9;
  height:100%;
}

.logo-one{
  border: 2px solid red;
  height: 77px;
  background-image: url(../images/docker.svg);
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center
}
/* fine section griglia logo */

/* inizio sezione spec */
.specscont{
  height: 100%;
  background-color: yellow;
}

.specmenucont{
  background-color: red;
  height:800px;
}

.specgrill{
  background-color: green;
  height: 800px;
}

.specimg{
border: 2px solid purple;
height:150px;
}

/* fine sezione spec */

.desfordevcont{
  height: 800px;
  background-color: grey;
}
.imgfordev{
  background-image: url("../images/spec.webp");
  height: 400px;
}

.bluedot{
  /* con span scompare why? */
  border-radius: 100%;
  width: 10px;
  height: 10px;
  background-color: #0069ff;
  display:inline-block;
}
/* fine spec */

/* inizio feature */
.featcont{
  background-color: yellow;
  height:600px;
}

.featblock{
  border:2px solid red;
  height:100px;
}
/* fine feature */

/* inizio region */
.regioncont{
  background-color: lightgrey;
  height: 1200px;
}

.regionlink{
  border:green 2px solid;
  height:600px;
}

.citycont{
  height:40px;
  border:red 2px solid;
}
/* fine region */

/* inizio dev team love alcune class comuni con designed for dev */
/* fine dev team love alcune class comuni con designed for dev */

/* inizio footer */
.footup{
  background-color: lightblue;
  height:200px;
}

.buttsub{
  width: 20%;
  margin: 0 40%;
}

.footdown{
  background-color: darkblue;
  height:800px;
}

[class*="footblock-"] {
  height:100px;
  border: 2px solid red;
}


/* fine footer */
