/* inizio nav */
.navcont{
  background-color: #fff;
  height: 40px;
}

.navbar{
  height: 40px;
}
.logo{
  height: 40px;
}
.navbar li{
  display: inline-block;
}

.navbar > ul{
  height: 40px;
  line-height: 40px;
}
/* fine nav */

/* jumbotron inizio */
.jumboback{
  height: 100%;
  background-image: url("https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg");
}

.txtcont{
  height: 500px;
  margin-top: 50px;
}

.formcont{
  height: 500px;
  margin-top: 50px;
}
/* form inizio */
.formtitle{
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
}

.sectit{
  color: blue;
}

.buttext{
  width: 80%;
  margin: 0 10%;
}
/* form fine */
/* fine jumbotron */
