.slider-box {
  position: relative;
  height: 100%;
}

.slider-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
}

.slider-inner {
  width: 80%;
  margin: 0 auto;
}

.slider-arrow-left {
  left: 0;
}

.slider-arrow-right {
  right: 0;
}

.disabled {
  opacity: .5;
}
